@keyframes terminalShow {
    0% {
        opacity: 0;
        width: 0;
        height: 1px;
    }
    50% {
        width: var(--width-terminal);
        height: 1px;
    }
    100% {
        opacity: 1;
        width: var(--width-terminal);
        height: var(--height-terminal);
    }
}

@keyframes fadeIn {
    00% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes backgroundShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.25;
    }
}